# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.stash
SerialPortDbg/.vs/SerialPortDbg/v16/.suo
*.db
*.user
SerialPortDbg/SerialPortDbg.sln
SerialPortDbg/SerialPortDbg.vcxproj
SerialPortDbg/SerialPortDbg.vcxproj.filters
SerialPortDbg/ui_mainwidget.h
